@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

h1,
h2,
h3,
h4,
p,
a,
span,
label,
input,
small {
    font-family: 'Roboto', sans-serif;
}

section,
li {
    margin-bottom: 10px !important;
}

html,
body {
    background-color: black;
}

.dark {
    background-color: black;
    color: white;
}

.light-dark {
    border: none;
    background-color: #333333;
    padding: 0px;
}

.info {
    font-size: 1.2em;
    padding: 5px;
    padding-bottom: 0px;
}

.info span {
    margin: 5px;
}

.tags {
    padding: 5px;
}

.badge-tag {
    vertical-align: middle;
    font-size: 1.2em;
    margin: 5px;
    background-color: black;
    color: red;
    border: red thin solid;
}

.badge-tag[ng-class="active"] {
    color: black;
    background-color: red;
}

.badge-tag:hover,
.btn-red:hover {
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
    color: white;
    cursor: pointer;
}

.btn-red {
    background-color: black;
    color: red;
    border: red thin solid;
}

.btn-download {
    background-color: transparent;
    color: white;
    border: none;
    margin: none;
    padding: none;
}

.awesomplete {
    color: black;
}

h1,
h2,
h4 {
    text-align: center;
}

section {
    margin-top: 20px;
}

footer {
    text-align: center;
}

div.awesomplete {
    width: calc(100% - 56px);
}

/* reinstitute initial .form-control border radius when nested within .awesomeplete */

.input-group .awesomplete .form-control {
    border-radius: 4px;
}

/* reinstitute .border-radius squaring within form groups */

.input-group .awesomplete:first-child .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .awesomplete:not(:first-child) .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .awesomplete:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}

input:focus, button:focus {
    outline: none !important;
    border-color: red;
    box-shadow: 0 0 10px red !important;
}

a:link {
    color:red;
}

